<a href="https://colab.research.google.com/github/lynxoo/ble-server/blob/master/SAD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statystyczna Analiza Danych
## Analiza Szkockich Whisky

Autorzy projektu:
* Łukasz Fąfara
* Artur Malarz

In [0]:
import pandas as pd
scotch = pd.read_csv(r'https://github.com/lynxoo/ue-wroc-sad/raw/master/scotch_review.csv')

In [3]:
scotch.head(5)

   Unnamed: 0  ...                                        description
0           1  ...  Magnificently powerful and intense. Caramels, ...
1           2  ...  What impresses me most is how this whisky evol...
2           3  ...  There have been some legendary Bowmores from t...
3           4  ...  With a name inspired by a 1926 Buster Keaton m...
4           5  ...  Captivating, enticing, and wonderfully charmin...

[5 rows x 7 columns]

In [4]:
scotch.drop(['currency', 'Unnamed: 0', 'description'], axis=1, inplace=True)
scotch.head(5)

                                              name  ...     price
0                   Johnnie Walker Blue Label, 40%  ...       225
1  Black Bowmore, 1964 vintage, 42 year old, 40.5%  ...   4500.00
2      Bowmore 46 year old (distilled 1964), 42.9%  ...  13500.00
3                   Compass Box The General, 53.4%  ...       325
4                          Chivas Regal Ultis, 40%  ...       160

[5 rows x 4 columns]

In [14]:
scotch_copy = scotch

import re
def parse_alcohol(text):
  matches = re.search(r"(\d*)%", str(text))
  return float(matches.group(1)) if matches else None

scotch_copy['abv'] = scotch_copy.apply(lambda row: parse_alcohol(row.name), axis=1)
scotch_copy.head(5)

                                              name  ...   abv
0                   Johnnie Walker Blue Label, 40%  ...  None
1  Black Bowmore, 1964 vintage, 42 year old, 40.5%  ...  None
2      Bowmore 46 year old (distilled 1964), 42.9%  ...  None
3                   Compass Box The General, 53.4%  ...  None
4                          Chivas Regal Ultis, 40%  ...  None

[5 rows x 5 columns]